[".local/bin/mise"]
type = "file"
executable = true
{{ $os := eq .chezmoi.os "darwin" | ternary "macos" .chezmoi.os }}
{{ $arch := .chezmoi.arch }}
url = "https://mise.jdx.dev/mise-latest-{{$os}}-{{$arch}}"
