[user]
    name = Eliorion
    email = samuel.kharitonoff@edu.esiee.fr

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[branch]
	autoSetupMerge = true
    
[core]
    editor = vim
    autocrlf = input

[alias]
    co = checkout
    br = branch
    cm = commit
    st = status
    lg = log --graph --oneline --all
[credential]
        helper = !'/usr/local/bin/devpod' agent git-credentials --port 12049
